<!DOCTYPE html>
<html>

<head>
    <title>Cyber Crime Reporting</title>
</head>

<body>

    <img src="/images/government_of_india.jpg" height="100px">
    <img src="/images/mh_police.jpg" height="100px">

    <h2>Cyber Crime Report Form / सायबर गुन्हा तक्रार फॉर्म</h2>

    <form method="post" action="/Cyber_Crime" enctype="multipart/form-data">

        <h3>Reporter Information / तक्रारदाराची माहिती</h3>

        <input name="name" placeholder="Name / नाव" required /><br><br>

        <input name="contactNumber" placeholder="Mobile Number / मोबाईल क्रमांक" required /><br><br>

        <input name="email" placeholder="Email ID (Optional) / ईमेल आयडी (पर्यायी)" /><br><br>

        <h3>Crime Information / गुन्ह्याची माहिती</h3>

        <select name="crimeType">
            <option value="">Select Crime Type (Optional) / गुन्ह्याचा प्रकार निवडा (पर्यायी)</option>
            <option value="online fraud">Online Fraud / ऑनलाइन फसवणूक</option>
            <option value="cyber harassment">Cyber Harassment / सायबर छळ</option>
            <option value="hacking">Hacking / हॅकिंग</option>
            <option value="identity theft">Identity Theft / ओळख चोरी</option>
            <option value="scams">Scams / स्कॅम</option>
        </select><br><br>

        <input name="otherCrime" placeholder="Other (Optional) / इतर (पर्यायी)" /><br><br>

        <select name="occurredAt">
            <option value="">Where did it occur? (Optional) / तो कोठे घडला? (पर्यायी)</option>
            <option value="website">Website / वेबसाईट</option>
            <option value="app">App / ॲप्लिकेशन</option>
            <option value="call">Call / फोन कॉल</option>
             <option value="other">Other / इतर</option>
        </select><br><br>

        <input name="otherOccurredAt" placeholder="If other, please specify / इतर असल्यास कृपया सांगा" /><br><br>
        

        <input type="datetime-local" name="dateTime" required /><br><br>
       <small>Screenshot (if any) / स्क्रीनशॉट (असल्यास)</small><br><br>

        <input type="file" name="screenshot" accept="image/*" /><br><br>
       
        <textarea name="extraInfo" placeholder="Extra Information (Optional) / अतिरिक्त माहिती (पर्यायी)"></textarea><br><br>

        <button type="submit">Submit Report / तक्रार नोंदवा</button>

    </form>

</body>
</html>
