<!DOCTYPE html>
<html>

<head>
    <title>Crime Reporting</title>
</head>

<body>
    <h2>Crime Reporting Form</h2>

    <form method="POST" action="/" enctype="multipart/form-data">

        <input name="name" placeholder="Name" required /><br><br>

        <input name="contactNumber" placeholder="Contact Number" required /><br><br>

        <input name="crimeType" placeholder="Type of Crime" required /><br><br>

        <input name="location" type="text" placeholder="Enter Address / Area" required /><br><br>

        <input name="crimeDateTime" type="datetime-local" required /><br><br>

        <input name="suspected" placeholder="Suspected (optional)" /><br><br>

        <!-- IMAGE FIELD -->
        <input type="file" name="image" accept="image/*" /><br><br>

        <textarea name="moreInformation" placeholder="More Information"></textarea><br><br>

        <button type="submit">Submit</button>
    </form>
</body>

</html>