<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Crime Reporting</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 20px;
        }

        .container {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            justify-content: center;
        }

        .card {
            background-color: white;
            width: 250px;
            padding: 20px;
            text-align: center;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        }

        .card img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 15px;
        }

        .card h3 {
            margin: 10px 0;
        }

        .card button {
            padding: 10px 20px;
            border: none;
            background-color: #e26715;
            color: white;
            border-radius: 5px;
            cursor: pointer;
        }

        .card button:hover {
            background-color: #c77414;
        }
    </style>
</head>

<body>
    <center>
        <img src="images/government_of_india.jpg" height="150px">
        <img src="images/mh_police.jpg" height="150px">
    </center>
    <br>
    <div class="container">

        <div class="card">
            <img src="images/mobile missing.jpg" alt="Profile">
            <h3>Missing Mobile Report</h3>

            <form action="" method="">
                <button>Register / नोंदणी करा</button>
            </form>
        </div>

        <div class="card">
            <img src="images/missing vehicle.png" alt="Profile">
            <h3>Missing Vehicle Report</h3>

            <form action="" method="">
                <button>Register / नोंदणी करा</button>
            </form>
        </div>

        <div class="card">
            <img src="images/robbery.png" alt="Profile">
            <h3>Missing Other Items Report</h3>

            <form action="" method="">
                <button>Register / नोंदणी करा</button>
            </form>
        </div>



    </div>

</body>

</html>